{% extends '_base.html' %}

{% block title %}Book Detail{% endblock %}

{% block content %}

  <div><h4>{{ book.title }}</h4></div>
  {% if book.cover %}
    <img class="book-cover" src="{{ book.cover.url }}" alt="{{ book.cover.title }}">
  {% endif %}
  <div><p><strong>By</strong> {{ book.author }}</p></div>
  <div><p>Price: ${{ book.price }}</p></div>

  <div class="reviews">
    <hr>
    <h4>Reviews</h4>
    {% for review in book.reviews.all %}
    <p>
      By {{ review.author.username }}<br>
      {{ review.review }}
    </p>
    {% endfor %}
  </div>

{% endblock %}