h1 {
  color: red;
}

body {
  display: flex;
  flex-direction: column;
}

.book-cover {
  width: auto;
  height: 300px;
  border-radius: 10px;
}

nav {
  display: flex;
  width: 100%;
  justify-content:space-around;
  text-align: center;
}